.btn-soft-success {
  background-color: rgba(10, 179, 113, 0.1);
  border: none;
  color: #0ab371;
  &:hover { background-color: rgba(10, 179, 113, 0.2); }
}
.btn-soft-primary {
  background-color: rgba(64, 81, 137, 0.1);
  border: none;
  color: #405189;
  &:hover { background-color: rgba(64, 81, 137, 0.2); }
}
.btn-soft-danger {
  background-color: rgba(240, 101, 72, 0.1);
  border: none;
  color: #f06548;
  &:hover { background-color: rgba(240, 101, 72, 0.2); }
}
